.benefits {
  display: flex;

  &__col {
    width: 50%;
  }
}

.benefits-list {
  width: 100%;
  max-width: 370px;
  padding-left: 50px;
  position: relative;

  background-image: linear-gradient(to bottom, #fff 40%, #a5a5a5 40%);
  background-size: 2px 35px;
  background-repeat: repeat-y;
  background-position: left 12px top -4px;

  &:before,
  &:after {
    content: "";
    display: block;
    width: 26px;
    height: 36px;
    background-color: #fff;
    background-repeat: no-repeat;
    position: absolute;
    left: 0;
    z-index: 1;
  }

  &:before {
    background-image: url('../../img/pin-start.svg');
    top: -5px;
  }

  &:after {
    background-image: url('../../img/pin-end.svg');
    bottom: -4px;
  }

  &__item:not(:last-child) {
    margin-bottom: 35px;
  }

  &__title {
    margin-bottom: 12px;
    font-family: 'Lato' ,sans-serif;
    font-size: 21px;
    line-height: 1.2;
    color: #2c2c2c;
    font-weight: 900;
  }

  &__text {
    font-size: 15px;
    line-height: 1.4;
    color: #585858;
  }
}